* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.copiado-reposo {
    display: none;
}

.copiado {
    display: inline-block;
}

section {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    gap: 2rem;
    width: min(25rem, 100%);
    margin: 0 auto;
    padding: 3rem 0;
}

form {
    display: grid;
    gap: 1rem;
}

button {
    padding: 0.5rem 2rem;
}